<% provide(:title, "Inicio") %>
<div class="container-fluid bg-2" >
  <div class="row">
    <h1>Página principal</h1>
    <p>Aquí va la información de entrada del sistema</p>
  </div>
</div>

<% content_for :footer do %>
  <div class="center">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% else %>
      <h2 style="color:lightgray;">Centro de avisos del sistema</h2>
    <% end %>
  </div>
<% end %>