<% provide(:title, "Inicio") %>
<div class="container-fluid bg-2" >

  <div class="row">
    <h1>Página principal</h1>
    <div class="void-space">

    </div>
    <p>Sistema de Control de Almacén</p>
  </div>
  <div class="void-space">

  </div>
  <div class="hero-image">
    <%= image_tag "mainInventoryImage.png", size: "600x400" %>
  </div>
</div>

<% content_for :footer do %>
  <div class="center">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% else %>
      <h2 style="color:lightgray;">Centro de avisos del sistema</h2>
    <% end %>
  </div>
<% end %>