:root {
  --main-radius:5px;
  --main-padding:10px;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display:grid;
  height:100vh;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.4fr;
  grid-template-areas:
     "nav nav nav nav"
     "sidebar main-w main-w main-w"
     "sidebar main-w main-w main-w"
     "sidebar footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  // text-transform: uppercase;
  font-size: 12px;
  // color: #004d40;
  background: #cedddd;
  text-align: center;
}

nav {
  text-transform: uppercase;
  background: #f7f7f7;
  grid-area: nav;
  border-radius: var(--main-radius);
  // padding-top: var(--main-padding);
}

.main-w {
  background: #f7f7f7;
  grid-area: main-w;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  overflow-y: scroll;
}

.sidebar {
  z-index: 1;
  background: #f7f7f7;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: inline-block;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.sidebar .titulo {
  color: #3a817e;
  margin-top: 10px;
  font-size: 14px;
  padding-bottom: 10px;;
}

footer {
  background: #dbf1f1;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
